Package: com.hx.spotify
Name: Respotify
Version: 6.2.2
Architecture: iphoneos-arm
Description: Modifications spotify personnaliser
Maintainer: hx
Author: hx
Section: Tweaks
Depends: ${ORION}, firmware (>= 14.0), org.swift.protobuf.swiftprotobuf (>= 1.29.0)
